---
import H1 from "../components/H1.astro";
import Button from "./Button.astro";
import { Image } from "astro:assets";
import skildpadde from "../assets/images/b_havskilpadde1.png";
import pose from "../assets/images/b_pose.png";
import flaske from "../assets/images/b_flaske.png";
import fisk from "../assets/images/b_fisk.png";
import pingvin from "../assets/images/b_pingvin.png";
import delefin from "../assets/images/b_delefin.png";
---

<section class="">
  <div>
    <p class="antonio text-white text-[35px] tracking-[3.85px] leading-[50px]">#SingleUseSucks</p>
    <H1 tekst="VERDEN DRUKNER I" />
    <H1 tekst="UNØDVENDIG PLASTIK" />
    <Button>Støt</Button>
  </div>
  <div class="grid grid-cols-10 grid-rows-5 w-full">
    <Image class="col-start-1 row-start-1 col-span-4 row-span-3 h-[408px] w-auto" src={skildpadde} alt="Billede af svømmende skildpadde" />
    <Image class="col-start-3 row-start-4 col-span-1 row-span-2 h-[208px] w-auto" src={pose} alt="Billede af gul pose" />
    <Image class="col-start-6 row-start-1 col-span-1 row-span-1 h-[200px] w-auto rotate-45" src={flaske} alt="Billede af gul pose" />
    <Image class="col-start-5 row-start-2 col-span-2 row-span-2 h-[200px] w-auto" src={fisk} alt="Billede af gul pose" />
    <Image class="col-start-5 row-start-4 col-span-4 row-span-2 h-[338px] w-auto rotate-45" src={pingvin} alt="Billede af gul pose" />
    <Image class="col-start-7 row-start-1 col-span-4 row-span-3 h-[600px] w-auto" src={delefin} alt="Billede af gul pose" />
  </div>
</section>
