---
import H2 from "../components/H2.astro";
import Brodtekst from "../components/Brodtekst.astro";
import { Image } from "astro:assets";
import facebook from "../assets/images/facebook.svg";
import twitter from "../assets/images/twitter.svg";
import linkedin from "../assets/images/linkedin.svg";
import youtube from "../assets/images/youtube.svg";
import insta from "../assets/images/instagram.svg";
---

<div class="absolute top-[7200px] left-0">
  <article class="skraa_1"></article>
  <article class="bg-[#041737] flex flex-col gap-20 py-40">
    <div class="flex justify-center">
      <H2 tekst="FØLG PLASTIC CHANGE" />
    </div>
    <div class="flex justify-center gap-16">
      <div class="border-4 rounded-full border-[#FF8400]">
        <Image class="m-8" src={facebook} alt="Facebook-ikon" />
      </div>
      <div class="border-4 rounded-full border-[#FF8400]">
        <Image class="m-8" src={twitter} alt="Facebook-ikon" />
      </div>
      <div class="border-4 rounded-full border-[#FF8400]">
        <Image class="m-8" src={linkedin} alt="Facebook-ikon" />
      </div>
      <div class="border-4 rounded-full border-[#FF8400]">
        <Image class="m-8" src={youtube} alt="Facebook-ikon" />
      </div>
      <div class="border-4 rounded-full border-[#FF8400]">
        <Image class="m-8" src={insta} alt="Facebook-ikon" />
      </div>
    </div>
    <div class="flex justify-center">
      <p class="text-[#FF8400] text-[22px] tracking-[2.42px]">#plasticchange</p>
      <p class="text-[#FF8400] text-[22px] tracking-[2.42px]">#singleusesucks</p>
      <p class="text-[#FF8400] text-[22px] tracking-[2.42px]">#cleantheplanet</p>
    </div>
  </article>
  <article class="skraa_2"></article>
</div>
